.songCard-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(88, 87, 87);
    color: white;
}

.songCard-edit {
    width: 100px;
}

.songCard-delete {
    width: 100px;
}
