.edit-song-head {
    display: flex;
    justify-content: center;
}

.submit-edit-button {
    background-color: #FF5500;
    border-radius: 5px;
    color: white;
}

.selAlbum-input {
    border-radius: 50px;
    background-color: #999;
    color: white;

}

.selAlbum-input:focus {
    background-color: black;
    color:black;
}