body {
    min-width: 100vw;
}

.nav-container {
    display: flex;
    background-color: rgba(32, 32, 32, 0.574);
}

.log-sign-container {
    display: flex;
    justify-content: right;
    color: black;
}

i {
    color: orange;
}

a {
    display: flex;
    height: 40px;
    width: 200px;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: black;
}
