body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-container {
    height: 50px;
    width: 1100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #333;
}

.sc-logo {
    height: 30px;
    width: 60px;
    color: #FF5500;
}

a {
    padding: 10px;
    text-decoration: none;
    color: #999;
}
